<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ecologyapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EcologyApp">
        <activity
            android:name=".UserBhimas"
            android:exported="false" />
<!--        <activity-->
<!--            android:name=".HotelPlatesList"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".HotelBhimas"
            android:exported="false"
            android:label="Hotel Bhimas"
            android:parentActivityName=".MainAdminActivity" />
        <activity
            android:name=".MainAdminActivity"
            android:exported="false"
            android:label="List of hotels"
            android:parentActivityName=".AdminLoginActivity" />
        <activity
            android:name=".AdminLoginActivity"
            android:exported="false"
            android:label="Admin Login"
            android:parentActivityName=".FoodBankActivity" />
        <activity
            android:name=".FoodBankActivity"
            android:exported="false"
            android:label="Food Bank"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TextileRecycling"
            android:exported="false"
            android:label="Textile and Fabric Recycling"
            android:parentActivityName=".Recycling" />
        <activity
            android:name=".WoodRecycling"
            android:exported="false"
            android:label="Wood Recycling"
            android:parentActivityName=".Recycling" />
        <activity
            android:name=".GlassRecycling"
            android:exported="false"
            android:label="Glass Recycling"
            android:parentActivityName=".Recycling" />
        <activity
            android:name=".ElectronicRecycling"
            android:exported="false"
            android:label="Electronic Recycling"
            android:parentActivityName=".Recycling" />
        <activity
            android:name=".MetalRecycling"
            android:exported="false"
            android:label="Metal Recycling"
            android:parentActivityName=".Recycling" />
        <activity
            android:name=".BricksInertWaste"
            android:exported="false"
            android:label="Bricks and inert Waste"
            android:parentActivityName=".Recycling" />
        <activity
            android:name=".PlasticRecycling"
            android:exported="false"
            android:label="Plastic Recycling"
            android:parentActivityName=".Recycling" />
        <activity
            android:name=".Recycling"
            android:exported="false"
            android:label="Recycling"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>